<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Vehicles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navToNewVehicle()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- 
  <ion-list>
    <ion-item *ngFor="let v of vehicles" (click)="navToVehicle(v.registration)">
      <ion-avatar slot="start">
        <img src="assets/images/car.png">
      </ion-avatar>
      <ion-label>
        <h2>{{v?.colour}} {{v?.make}} {{v?.model}}</h2>
        <h3>{{v.registration}} - {{v?.fuelType}}</h3>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-card *ngFor="let v of vehicles">

    <ion-card-content>

      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-img src="/assets/images/car.png" class="car-img"></ion-img>
          </ion-col>
          <ion-col size="9">
            <h1>{{v?.make}} {{v?.model}}</h1>
            <br>
            <p>{{v?.registration}} - {{v.colour}} - {{v.fuelType}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>




    </ion-card-content>
  </ion-card>

</ion-content>