<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Add Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-label color="primary" floating>Registration</ion-label>
    <ion-input [(ngModel)]="vehicle.registration"></ion-input>
  </ion-item>

  <div *ngIf="showDetails">

    <ion-item>
      <ion-label color="primary" floating>Make</ion-label>
      <ion-input [(ngModel)]="vehicle.make"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Model</ion-label>
      <ion-input [(ngModel)]="vehicle.model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Colour</ion-label>
      <ion-input [(ngModel)]="vehicle.colour"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" floating>Fuel Type</ion-label>
      <ion-input [(ngModel)]="vehicle.fuelType"></ion-input>
    </ion-item>

  </div>

  <br>

  <ion-button shape="round" color="primary" [disabled]="!vehicle.registration" (click)="searchReg()" *ngIf="!showDetails">Search Regisration</ion-button>
  <br>
  <ion-button shape="round" color="primary" (click)="addVehicle()" *ngIf="showDetails">Add Vehicle</ion-button>
  <ion-button shape="round" color="primary" (click)="resetPage()" *ngIf="showDetails">Try Again</ion-button>

</ion-content>