<ion-header>
  <ion-toolbar>
    <ion-title>My Account - {{user?.firstName}} {{user?.lastName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <!-- <ion-item (click)="login()">
      <ion-icon name='log-in' item-start></ion-icon>
      Login
    </ion-item> -->
    
    <ion-item (click)="debug()">
      <ion-icon name='person' item-start></ion-icon>
      Personal Details
    </ion-item>
    
    
    <ion-item [routerLink]="['/account', 'my-vehicles']">
      <ion-icon name='car' item-start></ion-icon>
      My Vehicles
    </ion-item>
    
    <ion-item>
      <ion-icon name='notifications' item-start></ion-icon>
      Notifications
    </ion-item>
    
    <ion-item>
      <ion-icon name='send' item-start></ion-icon>
      Marketing Preferences
    </ion-item>
    
    <ion-item (click)="logout()">
      <ion-icon name='log-out' item-start></ion-icon>
      Logout
    </ion-item>

  </ion-list>
</ion-content>